In [3]:
#1. Write a program to print numbers from 1 to 10 using a for loop. 
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [10]:
#2. Write a program to print the multiplication table of a given number. 

num = int (input("Enter a number:"))
print("Multiplication table of ",num,"is:")
for i in range(1,11):
    result = i*num
    print(i,"*",num ,"=",result)
    i +=1

Multiplication table of  2 is:
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [16]:
#3. Write a program to print all even numbers from 1 to 50. 

for i in range(1,51):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [2]:
#4. Write a program to calculate the sum of numbers from 1 to 100 using a for loop. 

sum = 0
for i in range(1,101):
    sum +=i
print(sum)

5050

In [5]:
#5. Write a program to print the square of numbers from 1 to 10. 

square = 0
for i in range(1,11):
    square = i*i
    print("Square of",i,"is",square)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100