In [3]:
# 1. Write a program to print a right-angled triangle pattern of * with 5 rows. 
# * 
# ** 
# *** 
# **** 
# ***** 

for i in range (5):
    print("*"*(i+1))

*
**
***
****
*****

In [6]:
# 2. Write a program to print a multiplication table from 1 to 5 using nested for loops. 

for i in range(1,6):
    print("Multiplication Table of",i,"is:")
    for j in range(1,11):
        result = i * j 
        print(i,"*",j,"=",result)
print("Multiplication of",i,"is",result)

Multiplication Table of 1 is:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Multiplication Table of 2 is:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Multiplication Table of 3 is:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Multiplication Table of 4 is:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Multiplication Table of 5 is:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Multiplication of 5 is 50

In [71]:
# 3. Write a program to print a square pattern of numbers (1 to 5). 
# 1 2 3 4 5 
# 1 2 3 4 5 
# 1 2 3 4 5 
# 1 2 3 4 5 
# 1 2 3 4 5

for i in range(1,6):
    for j in range(1,6):
        print(j,end="")
    print()

12345
12345
12345
12345
12345

In [257]:
# 4. Write a program to print a pyramid pattern of *. 
rows = 7
for i in range(1,rows + 1):
        for j in range(rows-i):
                print(end=" ")
        for k in range(i ):
                print("*", end=" ")
        print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [248]:
# 5. Write a program to print numbers in triangular form: 
 
# 1 
# 12 
# 123 
# 1234 
# 12345

# n = int (input("Enter the number of rows you want:"))


for i in range(1,6):
        for j in range(1,i + 1):
                print(j,end="")
        print()

1
12
123
1234
12345